In [1]:
import pandas as pd

## Reading Data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodypain  age  runnynose  diffbreathe  infectprob
0  101.607401         1   42          1            1           1
1   99.262926         1   99          1           -1           0
2  101.082036         0   82          1           -1           0
3  100.481007         1   79          1            0           1
4  100.000259         1   67          1           -1           0

In [4]:
df.tail()

           fever  bodypain  age  runnynose  diffbreathe  infectprob
2570   98.554612         0   42          1            0           1
2571   98.310526         1   25          0           -1           1
2572   99.611471         1   96          0            1           1
2573  101.995911         1   15          1           -1           0
2574  100.480313         1    8          1            0           0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fever        2575 non-null   float64
 1   bodypain     2575 non-null   int64
 2   age          2575 non-null   int64
 3   runnynose    2575 non-null   int64
 4   diffbreathe  2575 non-null   int64
 5   infectprob   2575 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 120.8 KB

In [6]:
df['fever'].value_counts()

99.218273     1
100.096948    1
101.355328    1
101.692132    1
99.468279     1
             ..
98.340949     1
101.474059    1
98.144152     1
99.375795     1
99.241429     1
Name: fever, Length: 2575, dtype: int64

In [7]:
df['diffbreathe'].value_counts()

 1    869
 0    856
-1    850
Name: diffbreathe, dtype: int64

In [8]:
df.describe()

,fever,bodypain,age,runnynose,diffbreathe,infectprob
count,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000
mean,99.981034,0.490874,51.604660,0.506796,0.007379,0.495146
std,1.158488,0.500014,28.723432,0.500051,0.817177,0.500074
min,98.001224,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.991153,0.000000,27.000000,0.000000,-1.000000,0.000000
50%,99.972151,0.000000,52.000000,1.000000,0.000000,0.000000
75%,100.989693,1.000000,77.000000,1.000000,1.000000,1.000000
max,101.999041,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [9]:
import numpy as np

In [10]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) *ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [11]:
train, test = data_split(df, 0.2)

In [12]:
train

           fever  bodypain  age  runnynose  diffbreathe  infectprob
1703  100.327705         0   14          0            1           1
1675  100.866278         0   44          1            0           1
1518  100.826611         0    7          1           -1           0
361    99.430173         1   21          0            1           1
1544  101.477647         1   69          1            0           0
...          ...       ...  ...        ...          ...         ...
1638   98.772192         1   60          0            1           1
1095  100.641381         1   35          1            1           0
1130   98.500215         0    9          0           -1           1
1294   98.068956         0   70          0            0           1
860   101.327981         0   17          1            1           1

[2060 rows x 6 columns]

In [13]:
test

           fever  bodypain  age  runnynose  diffbreathe  infectprob
1644   99.912232         1   39          0            1           1
1189   98.784855         1   45          0           -1           0
495    98.943884         1   20          1            1           0
1656   98.405093         0   85          1            1           1
651   100.444861         1    7          1            1           1
...          ...       ...  ...        ...          ...         ...
1627   99.852163         0   60          1            1           1
471    99.007437         1   42          1           -1           0
700    98.280711         0   62          0           -1           0
25    100.724706         1   32          0            1           1
755   100.202258         0   20          1           -1           0

[515 rows x 6 columns]

In [14]:
X_train = train[['fever', 'bodypain', 'age', 'runnynose', 'diffbreathe']].to_numpy()
X_test = test[['fever', 'bodypain', 'age', 'runnynose', 'diffbreathe']].to_numpy()

In [15]:
Y_train = train[['infectprob']].to_numpy().reshape(2060 ,)
Y_test = test[['infectprob']].to_numpy().reshape(515 ,)

In [16]:
Y_train

array([1, 1, 0, ..., 1, 1, 1], dtype=int64)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression()

In [21]:
inputFeatures = [102, 1, 22, -1, 1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [22]:
infProb

0.47505685896242167